<div class="container">
   
    <div class="row mt-4">
        <div class="col-lg-6">
            <h3 style="font-weight: bold;">Camera</h3>
            <video #videoElement autoplay class="w-100" id="video"></video>
            <canvas #canvasElement style="display: none;"></canvas>
            <div class="row mt-4">
                <div>
                    <button mat-icon-button (click)="toggleStream()">
                        <i class="material-icons">{{isStreamPaused ? 'play_arrow' : 'pause' }}</i>
                      </button>
                    <h4>Time until next pose: {{counter}}</h4>
                    <h4>Predicted Pose: <span *ngIf="predictedResponse">{{predictedResponse.predicted_class}}</span></h4>
                    <p style="text-align: center;">Score: <span *ngIf="predictedResponse" id="poseScore">{{predictedResponse.confidence}}</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <h4 style="margin-bottom: 20px; font-weight: bold;" >Sample Pose</h4>
                    <img src="../../assets/Virasana_Yoga-Asana_Nina-Mel.jpg" alt="virasana" #imageElement class="matching-video-size">
                </div>
            </div>
            <div class="row mt-4">
                <div>
                    <h4>Virasana</h4>
                </div>
            </div>
        </div>
    </div>
</div>
