<div class="container mt-4">
    <h2>Yoga Pose Detection History</h2>

    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Your Pose</th>
                        <th>Pose Name</th>
                        <th>Score</th>
                        <th>Sample</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let h of history">
                        <td (click)="openImageModal(h.path)">
                            <img [src]="h.path" alt="Pose Image" class="img-thumbnail">
                        </td>
                        <td>{{ h.name }}</td>
                        <td>{{ h.score }}</td>
                        <td (click)="openImageModal(h.sample_path)">
                            <img [src]="h.sample_path" alt="Pose Image" class="img-thumbnail">
                        </td>
                        <td>
                            <mat-icon class="icon" (click)="deleteDetection(h)">delete</mat-icon>
                            <mat-icon class="icon" (click)="saveDetection(h)">save</mat-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <nav aria-label="Page navigation example" style="margin-top: 10px;" class="d-flex justify-content-end">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link">1</a>
            </li>
            <li class="page-item">
                <a class="page-link">2</a>
            </li>
            <li class="page-item">
                <a class="page-link">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>