<div id="change-password-container">
    <form>
      <div class="text-center">
        <div class="icon"></div>
        <h2>Change Password</h2>
      </div>
      <div class="form-group">
        <label for="currentPassword">Current Password:</label>
        <input type="password" id="currentPassword" name="currentPassword" class="form-control" placeholder="Enter your current password" [(ngModel)]="currentPassword">
      </div>
      <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="Enter your new password" [(ngModel)]="newPassword">
      </div>
      <div class="form-group">
        <label for="confirmNewPassword">Confirm New Password:</label>
        <input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control" placeholder="Confirm your new password" [(ngModel)]="confirmNewPassword">
      </div>
      <div class="error-message" style="color: red;">{{ errorMessage }}</div>
      <button type="button" class="btn btn-primary" (click)="changePassword()">Change Password</button>
    </form>
  </div>
  