<div id="forgot-password-form-container">
    <form>
      <div class="text-center">
        <div class="icon"></div>
        <h2>YOGA POSE SUPPORTER</h2>
      </div>
      <div class="form-group">
        <label for="email">Email Or Username:</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email or username here" [(ngModel)]="email">
      </div>
      <div class="error-message" style="color: red;">{{ errorMessage }}</div>
      <button type="button" class="btn btn-primary" (click)="forgotPassword()">Forgot Password</button>
      <p>Remember your password? <a routerLink="/">Login</a></p>
    </form>
  </div>
  